{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'pro_final/css/cadastro.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<form>
    <h1>Cadastro</h1>
    <div class="input-box">
        <input placeholder="nome de usuário" type="nickname">
        <i class="bx bxs-user"></i>
    </div>
    <div class="input-box">
        <input placeholder="email" type="email">
        <i class="bx bxs-at-circle"></i>
    </div>
    <div class="input-box">
        <input placeholder="senha" type="password">
        <i class="bx bxs-lock-alt"></i>
    </div>

    <button type="submit" class="cadastro">Cadastre-se</button>
    <div class="link de registro">
        <p>Já tem uma conta? <a href="{% url 'login' %}">Login</a></p>
    </div>
</form>
{% endblock %}